@import "tailwindcss";

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-color: rgb(231, 245, 231);
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.bloco img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}